a {
	color: $yellow;
	text-decoration: none;

	&:hover {
		color: $yellow;
		text-decoration-color: $orange;
	}

	img {
		transition: transform 200ms;

		&:hover {
			transform: rotate(30deg);
		}
	}
}

