
// Colours
$white: #ebeff0;
$grey: #404d5a;
$greyLight: #b9bec3;
$blueLight: #63778C;
$blueDark: #404d5a;
$orange: #ed6c52;
$yellow: #eec215;

// Theme
$background-primary: $blueDark;
$background-secondary: $blueLight;
$colour-primary: $yellow;
$colour-secondary: $orange;
$text-primary: $white;

// Bootstrap Theming
$primary: $yellow;
$secondary: $orange;
