
// Colours
$white: #ebeff0;
$grey: #404d5a;
$greyDull: #909590;
$greyLight: #b9bec3;
$blueDark: #404d5a;
$orange: #ed6c52;
$yellow: #eec215;

// Theme
$background-primary: $blueDark;
$background-secondary: $greyDull;
$colour-primary: $yellow;
$colour-secondary: $orange;
$text-primary: $white;
